<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         id="WebApp_ID" version="3.0">

    <servlet>
        <servlet-name>adduser</servlet-name>
        <servlet-class>com.md.park.gx.servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>adduser</servlet-name>
    	<url-pattern>/addUser.do</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>jsp/pages/welcome.jsp</welcome-file>
    </welcome-file-list>

</web-app>